.header {
  width: 100%;
  height: 87px;
  display: flex;
  position: stickyp;
  align-items: center;
  &--logo {
    img {
      height: 2.5rem;
      padding-left: 2rem;
    }
  }
  &--button {
    display: none;
  }
  &--nav {
    z-index: 10;
    display: flex;
    align-items: flex-start;
    position: fixed;
    background-color: $white;
    top: 0;
    transition: 0.3s ease-in-out;
    right: 0px;
    width: 0%;
    height: 100vh;
    overflow-x: hidden;
  }
  &--nav-hidden {
    display: flex;
    justify-content: center;
    z-index: 10;
    align-items: flex-start;
    position: fixed;
    background-color: $white;
    top: 0;
    transition: 0.3s ease-in-out;
    right: 0;
    width: 100%;
    height: 100vh;
  }
  ul {
    margin-left: 14px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 20px 0 20px;
  }

  a {
    font-size: 14.718px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 2.718;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: block;
    opacity: 0.5;
    transition: color 0.1s, background-color 0.1s;
  }
  a:hover {
    color: $black;
    opacity: 1;
  }
  a:focus,
  a:active {
    color: $black;
    opacity: 1;
  }

  a::before {
    opacity: 1;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    width: 100%;
    background-color: $black;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  a:active::before {
    opacity: 1;
    background-color: $black;
  }

  a:hover::before,
  a:focus::before {
    opacity: 1;
    transform-origin: center top;
    transform: scale(1, 1);
  }
}

.hamburger {
  z-index: 100;
  display: inline-block;
  position: fixed;
  right: 2rem;
}
.change {
  z-index: 100;
  position: fixed;
  right: 2em;
}
.stick,
.stick1,
.stick2 {
  width: 28px;
  height: 3px;
  background-color: $black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .stick {
  position: asbolute;
  right: 2em;
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .stick1 {
  opacity: 0;
  transform: translateX(5px);
  transition: 0.2s linear;
}
.change .stick2 {
  transform: rotate(45deg) translate(-6px, -6px);
}

@media (min-width: 1920px) {
  .header {
    align-items: center;
    justify-content: center;
    &--logo {
      width: 20%;
      display: flex;
      align-items: center;
      img {
        height: 4rem;
      }
    }
    &--button {
      display: flex;
      padding: 0px 16px 0px 16px;
      border-width: 2px;
      border-color: rgb(119, 217, 180);
      border-style: solid;
      border-radius: 10px;
      font-size: 14.718px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: rgb(47, 183, 132);
      line-height: 2.718;
      text-align: center;
    }
    &--button:hover {
      opacity: 0.75;
      transform: translateY(-1px);
    }
    &--nav {
      z-index: 10;
      display: flex;
      position: unset;
      align-items: center;
      justify-content: center;
      right: unset;
      width: 40%;
      height: unset;
    }
    &--nav-hidden {
      display: none;
    }
    ul {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      align-items: flex-start;
      padding: 0px 20px 0px 20px;
    }
  }
  .hamburger {
    display: none;
  }
}
