.local {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &--container {
    width: 80%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  &--more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(119, 217, 180);
    width: 165px;
    height: 40px;
    font-size: 14.718px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 2.718;
    margin-bottom: 64px;
  }
  &--more:hover {
    opacity: 0.75;
    transform: translateY(-1px);
  }
  &--cards {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: 10px;
    img {
      width: 100%;
      height: 100%;
    }
    &--text {
      padding-top: 24px;
      width: 90%;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      color: rgb(117, 117, 117);
      line-height: 1.714;
    }
  }
}

@media (min-width: 1920px) {
  .local {
    background-color: $white;
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--container {
      width: 80%;
      padding-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    &--cards {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      padding: 10px;
      &--imgs {
        height: 280px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      img {
        width: 100%;
        height: 100%;
      }
      &--text {
        padding-top: 24px;
        width: 90%;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.714;
      }
    }
  }
}
