body {
  margin: 0;
  background-color: rgb(247, 247, 247);
  user-select: none;
}

.title {
  font-family: "Poppins", sans-serif;
  padding-top: 32px;
  width: 80%;
  text-align: center;
  line-height: 48px;
  font-weight: 500;
  font-size: 42px;
}

.desc-text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgb(117, 117, 117);
  line-height: 1.714;
}

.fontawesome {
  padding-right: 20px;
  opacity: 0.5;
}
