.start {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  &--column {
    display: none;
    flex-direction: column;
  }
  &--title {
    font-family: "Poppins", sans-serif;
    padding-top: 32px;
    width: 80%;
    text-align: center;
    line-height: 48px;
    font-weight: 500;
    font-size: 42px;
  }
  &--what {
    z-index: -1;
    padding-top: 32px;
    font-family: "Poppins", sans-serif;
    width: 80%;
    text-align: center;
    opacity: 0.75;
    font-weight: 500;
    font-size: 14px;
  }
  &--stores {
    padding-top: 42px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img {
      width: 150px;
      margin: 4px;
      height: 51px;
    }
  }
  &--phones {
    width: 100%;
    display: flex;
    padding-top: 64px;
    position: relative;
    &--circle1 {
      height: 232px;
      top: 48px;
      left: 10px;
      position: absolute;
      width: 232px;
      border-radius: 50%;
      background: rgb(72, 192, 147);
      opacity: 0.5;
    }
    &--circle2 {
      height: 142px;
      top: 64px;
      right: 10px;
      position: absolute;
      width: 142px;
      opacity: 0.25;
      border-radius: 50%;
      background: rgb(72, 192, 147);
    }
    &--circle3 {
      height: 162px;
      bottom: 16px;
      right: 8px;
      position: absolute;
      width: 162px;
      opacity: 0.25;
      border-radius: 50%;
      background: rgb(72, 192, 147);
    }
    &--img1 {
      position: center;
      left: -12px;
      z-index: 2;
      img {
        height: 440px;
      }
    }
    &--img2 {
      z-index: 1;
      position: absolute;
      right: 12px;
      padding-top: 24px;
      img {
        height: 420px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .start {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
    &--column {
      display: flex;
      align-items: flex-end;
      width: 30%;
    }
    &--title {
      width: 80%;
      text-align: unset;
      font-size: 42px;
      font-family: "Poppins", sans-serif;
      color: rgb(0, 0, 0);
      font-weight: bold;
      line-height: 1.052;
    }
    &--what {
      width: 80%;
      font-size: 20px;
      text-align: left;
      font-family: "Poppins", sans-serif;
      color: rgb(117, 117, 117);
      line-height: 1.5;
    }
    &--stores {
      padding-top: 22px;
      display: flex;
      width: 80%;
      flex-direction: row;
      justify-content: unset;
      align-items: center;
      img {
        width: 150px;
        margin-left: 4px;
        height: 64px;
      }
    }
    &--phones {
      width: 40%;
      display: flex;
      padding-top: 64px;
      position: relative;
      &--circle1 {
        height: 452px;
        top: 24px;
        left: 16px;
        position: absolute;
        width: 452px;
        border-radius: 50%;
        background: rgb(72, 192, 147);
        opacity: 0.5;
      }
      &--circle2 {
        height: 242px;
        top: 64px;
        right: 10px;
        position: absolute;
        width: 242px;
        opacity: 0.25;
        border-radius: 50%;
        background: rgb(72, 192, 147);
      }
      &--circle3 {
        height: 262px;
        bottom: 16px;
        right: 8px;
        position: absolute;
        width: 262px;
        opacity: 0.25;
        border-radius: 50%;
        background: rgb(72, 192, 147);
      }
      &--img1 {
        position: center;
        left: -12px;
        z-index: 2;
        img {
          height: 740px;
        }
      }
      &--img2 {
        z-index: 1;
        position: absolute;
        right: 32px;
        bottom: 0;
        padding-top: 24px;
        img {
          height: 680px;
        }
      }
    }
  }
}
