.app {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  &--carousel {
    display: flex;
    flex-direction: row;
    img {
      padding: 24px 16px 24px 16px;
      height: 467px;
      width: 229px;
    }
    &--title {
      width: 80%;
      text-align: center;
      font-size: 32px;
      font-family: "Poppins", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.925;
    }
    &--text {
      width: 80%;
      text-align: center;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(117, 117, 117);
      line-height: 1.25;
    }
  }
  &--circle1 {
  }
  &--circle2 {
  }
  &--circle3 {
  }
}

@media (min-width: 1920px) {
  .app {
    width: 100%;
    background-color: $white;
    height: 60vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--carousel {
      display: flex;
      flex-direction: row;
      img {
        padding: 24px 64px 24px 64px;
        height: 567px;
        width: 289px;
      }
      &--title {
        width: 80%;
        text-align: center;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.925;
      }
      &--text {
        width: 80%;
        text-align: center;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.25;
      }
    }
    &--circle1 {
    }
    &--circle2 {
    }
    &--circle3 {
    }
  }
}
