.app {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  &--carousel {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    &--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      &--texts {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 10vh;
      }
    }
    img {
      padding: 24px 16px 24px 16px;
      height: 467px;
      width: 229px;
    }
    &--title {
      width: 80%;
      text-align: center;
      font-size: 32px;
      font-family: "Poppins", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.925;
    }
    &--text {
      width: 90%;
      text-align: center;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(117, 117, 117);
      line-height: 1.25;
    }
  }
  &--circle1 {
  }
  &--circle2 {
  }
  &--circle3 {
  }
  .swiper-container {
    margin: 0 !important;
    padding-bottom: 24px;
  }
}

@media (min-width: 1920px) {
  .app {
    width: 100%;
    background-color: $white;
    height: 80vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--carousel {
      display: flex;
      flex-direction: row;
      &--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 16px 24px 16px;
        width: 20%;
        flex-direction: column;
      }
      img {
        z-index: 10;
        padding: 24px 64px 24px 64px;
        height: 567px;
        width: 299px;
      }
      &--title {
        width: 50%;
        z-index: 10;
        text-align: center;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.925;
      }
      &--text {
        z-index: 10;
        width: 87%;
        // text-align: center;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.25;
      }
    }
    &--circle1 {
      position: absolute;
      display: flex;
      top: 36px;
      right: 320px;
      opacity: 0.75;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
    }
    &--circle2 {
      position: absolute;
      width: 241px;
      height: 241px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.25;
      bottom: -36px;
      z-index: 5;
      left: 230px;
    }
    &--circle3 {
      position: absolute;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 5;
      background-color: rgb(119, 217, 180);
      bottom: 108px;
      left: 360px;
    }
  }
  .swiper-container {
    display: none !important;
  }
}

@media (min-width: 1501px) and (max-width: 1919px) {
  .app {
    width: 100%;
    background-color: $white;
    height: 90vh;
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--carousel {
      display: flex;
      flex-direction: row;
      &--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 16px 24px 16px;
        width: 25%;
        flex-direction: column;
      }
      img {
        z-index: 10;
        padding: 24px 64px 24px 64px;
        height: 467px;
        width: 249px;
      }
      &--title {
        width: 50%;
        z-index: 10;
        text-align: center;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.925;
      }
      &--text {
        z-index: 10;
        width: 87%;
        // text-align: center;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.25;
      }
    }
    &--circle1 {
      position: absolute;
      display: flex;
      top: 104px;
      right: 154px;
      opacity: 0.75;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
    }
    &--circle2 {
      position: absolute;
      width: 241px;
      height: 241px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.25;
      bottom: 0px;
      z-index: 5;
      left: 0px;
    }
    &--circle3 {
      position: absolute;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 5;
      background-color: rgb(119, 217, 180);
      bottom: 144px;
      left: 104px;
    }
  }
  .swiper-container {
    display: none !important;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .app {
    width: 100%;
    background-color: $white;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--carousel {
      display: flex;
      flex-direction: row;
      &--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 16px 24px 16px;
        width: 25%;
        flex-direction: column;
      }
      img {
        z-index: 10;
        padding: 24px 64px 24px 64px;
        height: 567px;
        width: 299px;
      }
      &--title {
        width: 50%;
        z-index: 10;
        text-align: center;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.925;
      }
      &--text {
        z-index: 10;
        width: 87%;
        // text-align: center;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.25;
      }
    }
    &--circle1 {
      position: absolute;
      display: flex;
      top: 124px;
      right: 100px;
      opacity: 0.75;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
    }
    &--circle2 {
      position: absolute;
      width: 241px;
      height: 241px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.25;
      bottom: 104px;
      z-index: 5;
      left: 0px;
    }
    &--circle3 {
      position: absolute;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 5;
      background-color: rgb(119, 217, 180);
      bottom: 224px;
      left: 104px;
    }
  }
  .swiper-container {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .app {
    width: 100%;
    padding-top: 54px;
    padding-bottom: 100px;
    background-color: $white;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--carousel {
      display: flex;
      flex-direction: row;
      &--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 16px 24px 16px;
        width: 25%;
        flex-direction: column;
        &--texts {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 10vh;
        }
      }
      img {
        z-index: 10;
        padding: 24px 64px 24px 64px;
        height: 467px;
        width: 249px;
      }
      &--title {
        width: 60%;
        z-index: 10;
        text-align: center;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.925;
      }
      &--text {
        z-index: 10;
        width: 87%;
        // text-align: center;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.25;
      }
    }
    &--circle1 {
      position: absolute;
      display: flex;
      top: 114px;
      right: 72px;
      opacity: 0.75;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
    }
    &--circle2 {
      position: absolute;
      width: 241px;
      height: 241px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.25;
      bottom: 104px;
      z-index: 5;
      left: 0px;
    }
    &--circle3 {
      position: absolute;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 5;
      background-color: rgb(119, 217, 180);
      bottom: 264px;
      left: 104px;
    }
  }
  .swiper-container {
    display: none !important;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .app {
    width: 100%;
    padding-top: 36px;
    background-color: $white;
    height: 75vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--carousel {
      display: flex;
      flex-direction: row;
      &--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 16px 24px 16px;
        width: 25%;
        flex-direction: column;
        &--texts {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 10vh;
        }
      }
      img {
        z-index: 10;
        padding: 24px 36px 24px 36px;
        height: 467px;
        width: 249px;
      }
      &--title {
        width: 60%;
        z-index: 10;
        text-align: center;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.925;
      }
      &--text {
        z-index: 10;
        width: 87%;
        // text-align: center;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(117, 117, 117);
        line-height: 1.25;
      }
    }
    &--circle1 {
      position: absolute;
      display: flex;
      top: 124px;
      right: 12px;
      opacity: 0.75;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
    }
    &--circle2 {
      position: absolute;
      width: 181px;
      height: 181px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.25;
      bottom: 84px;
      z-index: 5;
      left: 0px;
    }
    &--circle3 {
      position: absolute;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 5;
      background-color: rgb(119, 217, 180);
      bottom: 224px;
      left: 64px;
    }
  }
  .swiper-container {
    display: none !important;
  }
}
