.whoweare {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &--prof {
    margin-top: -70px;
  }
  &--container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  &--cards {
    padding-bottom: 12px;
    text-align: center;
    display: flex;
    border-width: 2px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    width: 80%;
    &--name {
      font-size: 16px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 2.5;
    }
    &--position {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(119, 217, 180);
      line-height: 2.5;
    }
    &--text {
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      color: rgb(117, 117, 117);
      line-height: 1.714;
    }
  }
  &--circle1 {
  }
  &--circle2 {
  }
  &--circle3 {
  }
}

@media (min-width: 1920px) {
  .whoweare {
    position: relative;
    padding-top: 160px;
    height: 70vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &--circle1 {
      z-index: 5;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      position: absolute;
      top: 240px;
      right: 64px;
      width: 124px;
      height: 124px;
    }
    &--circle2 {
      top: 280px;
      right: 80px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.5;
      position: absolute;
      width: 213px;
      height: 213px;
      z-index: 4;
    }
    &--circle3 {
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.502;
      position: absolute;
      left: 92px;
      bottom: 60px;
      width: 165px;
      height: 165px;
      z-index: 4;
    }
    &--prof {
      margin-top: -120px;
    }
    &--container {
      width: 80%;
      padding-top: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    &--cards {
      margin: 0 10px 0 10px;
      height: 420px;
      z-index: 10;
      width: 100%;
      &--text {
        width: 70%;
      }
    }
  }
}

@media (min-width: 1501px) and (max-width: 1919px) {
  .whoweare {
    position: relative;
    padding-top: 120px;
    height: 70vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &--circle1 {
      z-index: 5;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      position: absolute;
      top: 164px;
      right: 0px;
      width: 124px;
      height: 124px;
    }
    &--circle2 {
      top: 194px;
      right: 30px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.5;
      position: absolute;
      width: 213px;
      height: 213px;
      z-index: 4;
    }
    &--circle3 {
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.502;
      position: absolute;
      left: 42px;
      bottom: 0px;
      width: 165px;
      height: 165px;
      z-index: 4;
    }
    &--prof {
      margin-top: -120px;
    }
    &--container {
      margin-top: 24px;
      width: 85%;
      padding-top: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    &--cards {
      margin: 0 10px 0 10px;
      height: 420px;
      z-index: 10;
      width: 100%;
      &--text {
        width: 70%;
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .whoweare {
    position: relative;
    padding-top: 120px;
    height: 70vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &--circle1 {
      z-index: 5;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      position: absolute;
      top: 240px;
      right: 0px;
      width: 124px;
      height: 124px;
    }
    &--circle2 {
      top: 280px;
      right: 30px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.5;
      position: absolute;
      width: 213px;
      height: 213px;
      z-index: 4;
    }
    &--circle3 {
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.502;
      position: absolute;
      left: 42px;
      bottom: 84px;
      width: 165px;
      height: 165px;
      z-index: 4;
    }
    &--prof {
      margin-top: -120px;
    }
    &--container {
      margin-top: 24px;
      width: 85%;
      padding-top: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    &--cards {
      margin: 0 10px 0 10px;
      height: 420px;
      z-index: 10;
      width: 100%;
      &--text {
        width: 70%;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .whoweare {
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
    height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &--circle1 {
      z-index: 5;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      position: absolute;
      top: 180px;
      right: 0px;
      width: 124px;
      height: 124px;
    }
    &--circle2 {
      top: 220px;
      right: 30px;
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.5;
      position: absolute;
      width: 213px;
      height: 213px;
      z-index: 4;
    }
    &--circle3 {
      border-radius: 50%;
      background-color: rgb(119, 217, 180);
      opacity: 0.502;
      position: absolute;
      left: 42px;
      bottom: 124px;
      width: 165px;
      height: 165px;
      z-index: 4;
    }
    &--prof {
      margin-top: -140px;
    }
    &--container {
      margin-top: 24px;
      width: 85%;
      padding-top: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    &--cards {
      margin: 0 10px 0 10px;
      height: 360px;
      z-index: 10;
      width: 100%;
      &--text {
        width: 90%;
      }
    }
  }
}
