.whoweare {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &--prof {
    margin-top: -70px;
  }
  &--container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  &--cards {
    padding-bottom: 12px;
    text-align: center;
    display: flex;
    border-width: 2px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 80%;
    &--name {
      font-size: 16px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 2.5;
    }
    &--position {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(119, 217, 180);
      line-height: 2.5;
    }
    &--text {
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      color: rgb(117, 117, 117);
      line-height: 1.714;
    }
  }
}

@media (min-width: 1920px) {
  .whoweare {
    margin-top: 160px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &--prof {
      margin-top: -120px;
    }
    &--container {
      width: 80%;
      padding-top: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    &--cards {
      margin: 0 10px 0 10px;
      height: 420px;
      width: 100%;
      &--text {
        width: 70%;
      }
    }
  }
}
